.popup_wrap{
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 1;
  visibility: visible;
  z-index: 100;
  transition: opacity .5s, visibility 0s;
  font-size: 15px;
}
.popup_wrap *{
  font-family: 'SFUIDisplay-Regular';
}
.popup_bg{
  width: 894px;
  height: 502px;
  margin-bottom: 1%;
  background-color: #08090a;
  opacity: .84;
  position: absolute;
  top: 14px;
}
.popup_block{
  position: absolute;
  top: 50%; left: 50%;
  transform: translate(-50%, -50%);
  background-color: #1f2223;
  display: flex;
  flex-direction: column;
  color: #fff;
  max-width: 80%;
  max-height: 80%;
  width: 418px;
}
.popup_header{
  padding: 10px 22px;
  display: flex;
  align-items: center;
  font-size: 15px;
}
.popup_header_ico{
  margin-right: 13px;
}
.popup_header_txt{width: 100%;
	font-family: "SFUIDisplay-Medium";}
.popup_header_esc{
  cursor: pointer;
  opacity: 0.64;
  transition: .1s;
}
.popup_header_esc:hover{
  opacity: 1;
}
.popup_content{
  padding: 17px;
  padding-left: 22px;
  padding-right: 50px;
  overflow-y: auto;
  font-size: 17px;
}
.popup_content>*:last-child{
  margin-bottom: 0;
}
.alert .popup_header{
  background-color: #a13131;
}
.attention .popup_header{
  background-color: #8f834a;
}
.info .popup_header{
  background-color: #328247;
}
.popup_wrap_hide{
  transition: opacity .5s, visibility 0s .5s;
  opacity: 0;
  visibility: hidden;
}