.footer{
  height: 79px;
  display: flex;
  padding-top: 25px;
  padding-right: 26px;
  margin-left: 0;
  padding-left: 26px;
  width: 868px;
}
.btns_imgs{
  opacity: 0.34;
  transition: .3s;
}
.download_btn{
  justify-content: space-between;
  height: 38px;
  margin-left: 20px;
  margin-top: 8px;
  box-sizing: border-box;
  padding: 0 20px;
}
.download_btn:hover .btns_imgs{
  opacity: 0.74;
}
.download_btn:last-child{
  margin-left: 18px;
}
.dnld_stt{
  height: 44px;
  width: 100%;
  display: flex;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 15px;
  margin-top: 5px;
}
.all_good{
  background: linear-gradient(90deg, rgba(255,255,255,.2), transparent 80px, transparent 762px, rgba(255,255,255,.2));
}
.disconnect{
  background: linear-gradient(90deg, #6c2127, transparent 80px, transparent 762px, #6c2127);
  color: #d74854;
}
.install_alert{
  color: #6c9ae9;
  position: relative;
}
.install_alert:after,
.install_alert:before{
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  height: 16px;
  width: 12px;
  background-image: url(../../../../../../_assets/imgs/icons/main_page/download_footer_install_arrows.svg);
  background-repeat: no-repeat;
  background-position: center;
}
.install_alert:before{
  left: 20px;
  transform: translate(0, -50%);
}
.install_alert:after{
  right: 20px;
  transform: translate(0, -50%) rotate(180deg);
}
.install_btn{
  background:  linear-gradient(90deg, #4774c0, #3f67aa);
  border: 0;
  color: #fff;
  opacity: 1;
  height: 38px;
  margin-left: 29px;
  margin-right: 1px;
}
.install_btn img{
  opacity: 1;
}
.dnld_stt_icn{
  margin-left: 11px;
}