.settings_block_input{
    height: 34px;
    border: 2px solid rgba(255, 255, 255, .24);
    background-color: transparent;
    color: #fff;
    border-radius: 20px;
    width: 630px;
    padding: 0 30px;
    font-size: 16px;
    outline: 0;
    transition: .3s;
    width: 350px;
    margin-right: 18px;
}
.checkbox_list{
    display: flex;
    flex-direction: column;
}
.settings_block_input:hover{
  border: 2px solid rgba(255, 255, 255, .54);
}
.settings_block_input:focus{
  border: 2px solid rgba(255, 255, 255, .54);
}
.settings_block_input::placeholder{
	transform: translate(-2px, -1px);
}