.st0{opacity:0.24;}
.st1{fill:#FFFFFF;}
.st2{opacity:0.54;}
.st3{display:inline;fill:url(#SVGID_1_);}
.st4{display:inline;fill:url(#SVGID_2_);}
.br{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}